@import 'partials/variables';
@import 'compass/css3';
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  background-color: #fbfbfb;
}
section{
  height: 100vh;
}
/* Container global*/
.wrapper{
  width: 100%;
  overflow-x: hidden;
}
/* Container Header Global */

#nav{
  height: 6rem;
  border-bottom: 0.3rem solid $couleurbleuciel;
  background-color: $couleurtertiaire;
}
  /* Container centre navigation*/
.navigation{
  min-width: 30rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
}
/* Logo */
.logo{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo img{
  width: 4.5rem;
}
/* Nom clinique */
.logo h1{
  font-size: 1.4rem;
  color: #fff;
}
/* Menuburger */
.menuburger{
  width: 2.4rem;
  height: 1.8rem;
  overflow-x:hidden;
  position: relative; 
  margin-left: auto;
  cursor: pointer;
}
.menuburger-ligne{
  height: 0.2rem;
  position: absolute;
  left: 0;
  background: $couleurprimaire;
  transition: transform 0.3s ease-in;
}
.menuburger-ligne__1{
  width: 100%;
  top: 0;
}
.menuburger-ligne__2{
  width: 70%;
  top: 0.7rem;  
}
.menuburger-ligne__3{
  width: 100%;
  top: 1.4rem;  
}
/* menuburger [onOffMenuBurger]*/
.menuburger.onOffMenuburger .menuburger-ligne__2{
  transform: translateX(-2.4rem);
}
.menuburger.onOffMenuburger .menuburger-ligne__1{
  transform: rotate(-45deg);
  top: 0.7rem;
}
.menuburger.onOffMenuburger .menuburger-ligne__3{
  transform: rotate(-135deg);
  top: 0.7rem;
}
/* Menu */
.menu{
  width: 20rem;
  height: 100vh;
  padding-top: 4rem;
  padding-left: 0;
  position: absolute;
  top: 6rem;
  right: -20rem;
  transition:right 0.3s ease-in;
  background-color: $couleurtertiaire;
  list-style: none;
  font-size: 1.4rem;
}
.menu li{
  padding: 1.2rem 2rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease-in;
  border-bottom: 0.1rem solid #434343;
  text-align: right;
  cursor: pointer;
}
.menu a{
  text-decoration: none;
  color: $couleurwhite;
  transition: color 0.3s ease-in;
}
.menu a span + span{
  margin-left: 1rem;
}
/* Le menu li actif */
.menu li.active{
  background-color: $couleurbleuciel;
}
.menu li.active a{
  color: $couleurtertiaire;
}
/* Le menu li hover */
.menu li:hover{
  background-color: $couleurbleuciel;
}
.menu li:hover a{
  color: $couleurtertiaire;
}
/* Menu [Class : onOffMenuBurger ] */
.menu.onOffMenuburger{
  right: 0;
}
.headerMiddle{
  padding: 3rem 1rem;
}
.headerMiddle strong{
  display: block;
  margin: 2rem 0;
  font-weight: normal;
  font-size: 1.8rem;
}
.headerMiddle h2{
  font-size: 1.8rem;  
  font-weight: bold;
}

/* Taille d'ecran minimal 768px */
@media screen and (min-width:#{$mediumDevice * 1px}){
/* Navigation */
.headerTop{
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.navigation{
  padding-top: 0;
  padding-bottom: 0;
}

/* Menuburger*/
.menuburger{
  display: none;
}
/* Menu */
.menu{
  width: auto;
  height: 100%;
  display: flex;
  padding-top: 0;
  position: static;
  transition:none;
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 0;
  line-height: 3rem;
}
.menu li{
  margin-bottom: 0;
  margin-left: 0.2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-bottom: 0 none;
  text-align: center;
}
.menu li.active{
  background-color: $couleurbleuciel;
}
.menu li.active a {
  color: $couleurtertiaire;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(2):hover,
.menu li:nth-child(3):hover,
.menu li:nth-child(4):hover{
  background-color: $couleurbleuciel;
}
.menu li:nth-child(1):hover a,
.menu li:nth-child(2):hover a,
.menu li:nth-child(3):hover a,
.menu li:nth-child(4):hover a{
  color: $couleurtertiaire;
}
// .menu li:nth-child(5),
// .menu li:nth-child(6),
// .menu li:nth-child(7){
// padding-left:0.5rem;
// padding-right: 0.5rem;
// }
.menu a span + span{
  display: none;
  margin-left: 0;
}
.fa-regular.fa-circle-user{
  display: inline;
}
.fa-regular.fa-comments{
  display: inline;
}
.fa-regular.fa-envelope{
  display: inline;
}
.menuLinkHidden{
  display: none;
}
/* HeaderMiddle */
.headerMiddle{
 display: flex;
 gap: 2rem;
 padding: 6rem 1rem 3rem 1rem;
}

.headerMiddle img{
  width: calc(50% - 1rem);
}
.accroche{
  padding: 2rem 1rem; 
}
}


/* Taille d'ecran minimal 992px */
@media screen and (min-width:#{$largeDevice * 1px}){
    /* Nom clinique */
  .logo h1{
    font-size: 1.8rem;
  }
}

/* Taille d'ecran minimal 1200px */
@media screen and (min-width:#{$XlargeDevice * 1px}){
  /* Container centre navigation*/
  .navigation,
  .headerMiddle{
    width: 100rem;
    margin: auto;
  }
  /* Container centre headeMiddle */

}
