@import 'partials/variables';
@import 'compass/css3';
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  background-color: #f7f7f7;
  line-height: 1.5;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}
/* Container global*/
.wrapper{
  width: 100%;
  overflow: hidden;
}
/* Container Header Global */

#nav{
  height: 6rem;
  border-bottom: 0.3rem solid $couleurbleuciel;
  background-color: $couleurtertiaire;
}
  /* Container centre navigation*/
.navigation{
  min-width: 30rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
}
/* Logo */
.logo{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo img{
  width: 4.5rem;
}
/* Nom clinique */
.logo h1{
  font-size: 1.4rem;
  color: $couleurwhite;
  margin: 0;
}
.logo a{
  text-decoration: none;
  color: inherit;
}
/* Menuburger */
.menuburger{
  width: 2.4rem;
  height: 1.8rem;
  overflow-x:hidden;
  position: relative; 
  margin-left: auto;
  cursor: pointer;
}
.menuburger-ligne{
  height: 0.2rem;
  position: absolute;
  left: 0;
  background: $couleurprimaire;
  transition: transform 0.3s ease-in;
}
.menuburger-ligne__1{
  width: 100%;
  top: 0;
}
.menuburger-ligne__2{
  width: 70%;
  top: 0.7rem;  
}
.menuburger-ligne__3{
  width: 100%;
  top: 1.4rem;  
}
/* menuburger [onOffMenuBurger]*/
.menuburger.onOffMenuburger .menuburger-ligne__2{
  transform: translateX(-2.4rem);
}
.menuburger.onOffMenuburger .menuburger-ligne__1{
  transform: rotate(-45deg);
  top: 0.7rem;
}
.menuburger.onOffMenuburger .menuburger-ligne__3{
  transform: rotate(-135deg);
  top: 0.7rem;
}
/* Menu */
.menu{
  width: 20rem;
  height: 50rem;
  padding-top: 4rem;
  padding-left: 0;
  position: absolute;
  top: 6rem;
  right: -20rem;
  transition:right 0.3s ease-in;
  background-color: $couleurtertiaire;
  list-style: none;
  font-size: 1.4rem;
}
.menu li{
  padding: 1.2rem 2rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease-in;
  border-bottom: 0.1rem solid #434343;
  text-align: right;
  cursor: pointer;
}
.menu a{
  text-decoration: none;
  color: $couleurwhitedark;
  transition: color 0.3s ease-in;
}
.menu a span + span{
  margin-left: 1rem;
}
/* Le menu li actif */
.menu li.active{
  background-color: $couleurbleuciel;
}
.menu li.active a{
  color: $couleurtertiaire;
}
/* Le menu li hover */
.menu li:hover{
  background-color: $couleurbleuciel;
}
.menu li:hover a{
  color: $couleurtertiaire;
}
/* Menu [Class : onOffMenuBurger ] */
.menu.onOffMenuburger{
  right: 0;
}
.headerMiddle{
  padding: 3rem 1rem;
  text-align: center;
}
.headerMiddle strong{
  display: block;
  margin-top: 3rem;
  font-size: 2.1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $couleurprimaire;
}
.headerMiddle h2{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 1rem 0 3rem 0;
  color: $couleursecondaire;
}
.headerMiddle p{
  line-height: 1.5;
}
/* Accroche */
.accroche{
  padding-top: 3rem;
}
.btn-accroche{
  display: block;
  width: 16rem;
  text-align: center;
  padding: 1rem;
  margin: 3rem auto;
  border: 0.1rem solid $couleurtertiaire;
  text-decoration: none;
  color: $couleurtertiaire;
}
#clinique{
  // background-color:#801cba;
  background-color: $couleurtertiairelight;
  padding: 3rem 1rem;
}
.sectionCliniqueGroup{
  overflow: hidden;
}
.sectionCliniqueGroup__:nth-child(1){
  transform: translateX(-150%);
  transition: transform 0.3s 0.2s ease-in;
}
.sectionCliniqueGroup__:nth-child(2){
  transform: translateX(-250%);
  transition: transform 0.3s ease-in;
}
.sectionCliniqueGroup__:nth-child(3){
  transform: translateX(250%);
  transition: transform 0.3s 0.3s ease-in;
}
.sectionCliniqueGroup__:nth-child(4){
  transform: translateX(300%);
  transition: transform 0.3s 0.4s ease-in;
}
.sectionCliniqueGroup__.show:nth-child(1){
  transform: translateX(0);
}
.sectionCliniqueGroup__.show:nth-child(2){
  transform: translateX(0);
}
.sectionCliniqueGroup__.show:nth-child(3){
  transform: translateX(0);
}
.sectionCliniqueGroup__.show:nth-child(4){
  transform: translateX(0);
}
.sectionCliniqueGroup__{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
  margin:0 auto 2rem;
  color: $couleurwhitedark;
  border: 0.1rem solid rgba(255,255,255,0.2);
}
.sectionCliniqueGroup__ span{
  font-size: 5.2rem;
}
.sectionCliniqueGroup__ strong{
  font-size: 2rem;
}
.sectionCliniqueGroup__ p{
  text-align: center;
}
/* Equipe */

.equipe{
  padding: 6rem 1rem;
}
.equipe h3{
  font-size: 2.4rem;
  margin-bottom: 3rem;
  color: $couleurtertiaire;
}
.equipe__bloc{
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 1rem;
  background-color: $couleurwhite;
  border: 0.1rem solid $bordercontainer;
  position: relative;
  overflow-y: hidden;
  cursor: pointer;
  margin-bottom: 2rem;
}
.equipe__bloc span:nth-child(1){
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color:$couleurtertiairelight;
  color: $couleurwhite;
  border-radius: 0.5rem;
}
.equipe__bloc .equipe__img{
  width: 10rem;
  margin-top: 2rem;
  padding: 0.2rem;
  border: 0.1rem solid $bordercontainer;
  border-radius: 50%;
}
.equipe__bloc img{
  width: 100%;
  border-radius: 50%;
}
.equipe__bloc strong{
  font-size: 1.8rem;
  color:$couleurtertiairelight;
  line-height: 1;
  font-weight: normal;
}
.equipe__bloc strong + span{
  font-size: 1.2rem;
  opacity: 0.5;
  line-height: 1;
}
.equipe__socialmedia p{
  font-size: 1.4rem;
  margin-top: 1rem;
  position: absolute;
  transform: translateY(4rem);
  height: 3rem;
  padding: 0.5rem;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  opacity: 0.45;
  transition: transform 0.3s ease-in;
}
.equipe__bloc.active .equipe__socialmedia p{
  transform: translateY(0);
}
.equipe__socialmedia p i{
  color: $couleurtertiairelight;
  cursor: pointer;
}
/* Fin Equipe */
#services{
  background-color: $couleurtertiaire;
}
.services{
  display: flex;
  flex-direction: column-reverse;
  padding: 6rem 1rem;
  color: $couleurwhitedark;
  min-width: 30rem;
}
.services__left__box__label{
  position: absolute;
  transform: translateY(-10rem);
  font-size: 1rem;
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
 
}
.container__services.active .services__left__box__label{
transform: translateY(0);
 transition: transform 0.3s ease-in;
}
.services__left_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__top{
  display: flex;
  flex-direction: row;
  margin-top: -3rem;
}
.services__right{
  margin-top: 3rem;
}
.services__left__box{
  width: 10rem;
  height: 10rem;
  padding: 0.1rem;
  border: 0.1rem solid rgba(255,255,255,0.7);
  background: rgba(255,255,255,0.7);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.container__services{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $couleurtertiaire;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.container__services > span{
  color: rgba(255,255,255,0.7);
  font-size: 4.2rem;
}
.services__left_wrapper{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.services__bottom{
  padding: 3rem 0;
}
.services__bottom h3{
  font-size: 2.4rem;
  color: $couleurprimaire;
}
.services__bottom span{
  font-size: 1.4rem;
}
.services__bottom hr{
  display: none;
  border-bottom:0.2rem solid $couleurbleuciel;
  opacity: 1;
}
/* Galeries */
.galeries{
  display: grid;
  min-width: 30rem;
  grid-template-columns: 25% 15% 20% 40%;
  grid-template-rows: repeat(25%, 4);
  grid-template-areas: "g1 g1 g2 g3"
                       "g4 g5 g5 g3"
                       "g6 g7 g7 g10"
                       "g8 g8 g9 g10";
}
.galeries__img_1 { grid-area: g1; }
.galeries__img_2 { grid-area: g2; }
.galeries__img_3 { grid-area: g3; }
.galeries__img_4 { grid-area: g4; }
.galeries__img_5 { grid-area: g5; }
.galeries__img_6 { grid-area: g6; }
.galeries__img_7 { grid-area: g7; }
.galeries__img_8 { grid-area: g8; }
.galeries__img_9 { grid-area: g9; }
.galeries__img_10 { grid-area: g10; }

.galeries p{
  border: 0.3rem solid $bordercontainer;
  margin: 0;
}
.galeries img{
  width: 100%;
  height: 100%;
  // object-position: top;
  filter: grayscale(100%);
  object-position: center center;
  object-fit: cover;
  transition: filter 0.3s ease-in;
  cursor: pointer;
}
.galeries img:hover{
  filter: grayscale(0);
}
/*
* Contact
*/
#contact{
  background: $couleurtertiaire;
  color:$couleurwhitedark;
}
.contact__bloc form{
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
}
.contact{
  padding: 6rem 1rem;
  min-width: 30rem;
}
.contact h3{
  font-size: 2.4rem;
  margin-bottom: 6rem;
}
// textarea,input{
//   outline: none;
//   color: rgba(0,0,0,0.75);
// }
.contact__bloc textarea{
  outline: none;
  padding: 1rem;
  height: 21rem;
  margin-bottom: 1rem;
}
.contact__bloc textarea,
.contact__bloc input[type="text"],
.contact__bloc input[type="tel"],
.contact__bloc input[type="email"]{
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border: 0.1rem solid $couleurwhitedark;
  color: $couleurtertiaire;
  background: $couleurwhite;
  margin-bottom: 1rem;  
}
.contact__bloc input[type="submit"]{
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem;
  background: transparent;
  color: $couleurwhitedark;
  border: 0.1rem solid $couleurwhitedark;
}
::placeholder{
  color: $couleurtertiaire;
}
.contact__bloc address{
  margin-top: 6rem;
}
.contact__bloc__left textarea{
  width: 100%;
  resize: none;
}
.contact__bloc__left p{
  display: none;
}
.contact__bloc__right{
  font-size: 1.4rem;
}
.contact__bloc__right strong{
  color: $couleurwhitedark;
}
.contact__bloc__right i{
  color:$couleurwhitedark;
}
// .contact__bloc__social{
//   display: flex;
//   padding: 1rem 0;
//   gap: 1rem;
// }
// .contact__bloc__social i{
//   font-size: 2.4rem;
// }
/*
* Temoignages
*/
#temoignages{
 padding: 6rem 1rem;
}
.temoignages h3{
  color: $couleurprimaire;
  font-size: 3.2rem;
  margin-bottom: 3rem;
}
.temoignages__navigation{
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: calc(-100% + 4rem);
  // color: rgba(0,0,0,0.3);
  color: $couleurprimaire;
  border: 0.1rem solid $bordercontainer;
  background-color: $couleurwhite;
  margin-bottom: 3rem;
  cursor: pointer;
}
.temoignages__bloc{
  min-width: 30rem;
  position: relative;
}
.temoignages__bloc__comments {
  background: $couleurwhite;
  position: relative;
  // z-index: 10;
}
.temoignages__bloc__comments_user{
  padding: 0 1rem;
  border-radius: 0.5rem;
  border:0.1rem solid $bordercontainer;
}
.temoignages blockquote i{
  display: block;
  padding: 0.5rem 0;
  font-size: 2.8rem;
  color: rgba(0,0,0,0.1);
  cursor: pointer;
}
blockquote p{
  margin-bottom: 0;
  padding: 0 2.5rem;
}
blockquote p + i{
  text-align: right;
}
.temoignages cite{
  display: block;
  text-align: right;
}
.temoignages cite span::before{
  content: "_";
  font-size: 2rem;
  // color: rgba(0,0,0,0.2);
}
.temoignages cite span{
  font-size: 1.2rem;
  font-style: italic;
  color: $couleurprimaire;
}
.temoignages__bloc__design{
  width: 3rem;
  height: 3rem;
  background-color: $couleurwhite;
  border-right: 0.1rem solid $bordercontainer;
  border-bottom: 0.1rem solid $bordercontainer;
  position: relative;
  transform: rotate(45deg);
  top: -1.5rem;
  left: 4rem;
  display: none;
  // z-index: 1;
}
.temoignages__bloc__profil{
  width: 5rem;
  height: 5rem;
  margin-left: 2.5rem;
  padding: 0.2rem;
  border: 0.1rem solid #eeeded;
  background-color: $couleurwhite;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -6rem;
}
.temoignages__bloc__profil img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  filter: grayscale(100%);
  opacity: 0.75;
}

// .temoignages__bloc__group{
//  transition: all 0.3s ease-in;
//  width: 30rem;
//  position: absolute;
//  top: 0;
// }

// .temoignages__bloc__group:nth-child(1){
//   // position: absolute;
//   // top: 0;
//   right: 0;
// }
// .temoignages__bloc__group:nth-child(2){
//   // position: absolute;
//   // top: 0;
//   right: -101%;
// }
// .temoignages__bloc__group:nth-child(3){
//   // position: absolute;
//   // top: 0;
//   right: -202%;
// }
// .temoignages__bloc__group:nth-child(4){
//   // position: absolute;
//   // top: 0;
//   right: -303%;
// }

// .temoignages__bloc__group.active{
//   position: relative;
//   top: 0;
//   right: 0;
//   z-index: 1;
// }


// .temoignages__bloc__group{
//  position: absolute;
//  top: 0;
//  left: 101%;
//  min-width: 30rem;
// transition:left 0.3s ease-in;
// }

// .temoignages__bloc__group.active{
//   position: relative;
//   top: 0;
//   left: 0;
//   min-width: 30rem;
// }
/*
* Footer
*/
#footer{
  border-top:0.1rem solid rgba(255,255,255,0.1);
  padding: 2rem 1rem;
  background-color: $couleurtertiaire;
  color: $couleurwhitedark;
}
.footer{
  min-width: 30rem;
}
.menufooter,
.footer__social{
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size:1.2rem;
  padding: 0.5rem 0;
}
.footer__copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size:1.2rem;
  padding: 0.5rem 0;
}
.footer__copyright span:nth-child(3){
  display: none;
}
.footer__social i{
  cursor: pointer;
  font-size: 1.6rem;
}


/* Taille d'ecran minimal 576px */
@media screen and(min-width:#{$smallDevice * 1px}) {
  .sectionCliniqueGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .sectionCliniqueGroup__{
    width: calc(50% - 1rem);
  }
  /* Equipe */
.equipe__group{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
 }
 .equipe__bloc{
  width: calc(50% - 1rem);
 }
  .services__left__box{
    width: 14rem;
    height: 14rem;
  }
  .services__left__box__label{
    transform: translateY(-14rem);
    }
    .container__top{
      margin-top: -4.2rem;
    }
    /* Contact */
    .contact__bloc address{
      margin-top: 0;
    }
    .contact__bloc form{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }
    .contact__bloc__left{
      width: 100%;
    }
    .contact__bloc__middle{
      width: calc(60% - 1rem);
    }
    .contact__bloc__right{
      width: calc(40% - 1rem);
    }
    .contact__bloc__right p{
      min-width: 27rem;
      line-height: 2;
    }
    /* Temoignages */
.temoignages__bloc{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.temoignages__bloc__group{
  width: calc(50% - 1rem);
  margin-top: 2rem;
}
.temoignages__bloc__profil{
  top: 0;
}
.temoignages__bloc__design{
  display: block;
}
/* Footer */
.footer__copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2;
}
.footer__copyright span:nth-child(3){
  display: inline;
}
}

/* Taille d'ecran minimal 768px */
@media screen and (min-width:#{$mediumDevice * 1px}){
/* Navigation */
.headerTop{
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
/*Clinique*/
.sectionClinique{
  padding: 3rem 2rem;
}

.navigation{
  padding-top: 0;
  padding-bottom: 0;
}

/* Menuburger*/
.menuburger{
  display: none;
}
/* Menu */
.menu{
  width: auto;
  height: 100%;
  display: flex;
  padding-top: 0;
  position: static;
  transition:none;
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 0;
  line-height: 3rem;
}
.menu li{
  margin-bottom: 0;
  margin-left: 0.2rem;
  // padding-left: 1.25rem;
  // padding-right: 1.25rem;
 padding: 0; 
  border-bottom: 0 none;
  text-align: center;
}
.menu li.active{
  background-color: $couleurbleuciel;
}
.menu li.active a {
  color: $couleurtertiaire;
}
.menu li a{
  display: block;
  padding: 1.25rem;
}
.menu li:nth-child(1):hover,
.menu li:nth-child(2):hover,
.menu li:nth-child(3):hover,
.menu li:nth-child(4):hover{
  background-color: $couleurbleuciel;
}
.menu li:nth-child(1):hover a,
.menu li:nth-child(2):hover a,
.menu li:nth-child(3):hover a,
.menu li:nth-child(4):hover a{
  color: $couleurtertiaire;
}
.menu a span + span{
  display: none;
  margin-left: 0;
}
.fa-regular.fa-circle-user{
  display: inline;
}
.fa-regular.fa-comments{
  display: inline;
}
.fa-regular.fa-envelope{
  display: inline;
}
.menuLinkHidden{
  display: none;
}
/* HeaderMiddle */
.headerMiddle{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  padding: 6rem 1rem 3rem 1rem;
    text-align: left;
}
.headerMiddle img{
  width: calc(50% - 1rem);
}
.accroche{
  width: calc(50% - 1rem);
  padding: 2rem 1rem; 
}
.accroche strong{
  font-size: 3.2rem;
}
.accroche h2{
  font-size: 2.4rem;
  margin-top: 1rem;
  font-weight: normal;
}
/* Bouton btn-accroche */
.btn-accroche{
  width: 16rem;
  margin-left: 0;
  margin-right: 0;
}
/* Equipe */
.equipe__group{
  gap: 3rem;
 }
 .equipe__bloc{
  width: calc(50% - 1.5rem);
  margin-bottom: 3rem;
 }
.services__top{
  display: flex;
  flex-direction: row-reverse;
}
.services{
  flex-direction: column;
}
.services__bottom{
  margin-top: -13.6rem;
}
.services__left{
  width: calc(70% - 1rem);
  padding-right: 5rem;
}
.services__bottom hr{
  display: block;
}
.container__services.active .services__left__box__label{
  font-size: 1.4rem;
}
/* Galeries */
.galeries{
  grid-template-columns: 15% 20%  25% 25% 15%;
  grid-template-rows: 25% 5% 20% 10% 40%;
  grid-template-areas: "g1 g3 g5 g6 g10"
                        "g2 g3 g5 g6 g10"
                        "g2 g3 g7 g7 g10"
                        "g4 g4 g7 g7 g10"
                        "g4 g4 g8 g9 g10";
}
.contact__bloc form{
  flex-direction: row;
  gap: 1.5rem;
}
.contact__bloc__left{
  width: calc(40% - 1rem);
  position: relative;
}
.contact__bloc__left p{
  position: absolute;
  display: block;
  top: -3rem;
  left: -10rem;
  width: 100%;
  z-index: 1;
}
.contact__bloc__left textarea{
  position: relative;
  // display: none;
  z-index: 2;
}
.contact__bloc__middle{
  width: calc(30% - 1rem);
}
.contact__bloc__right{
  width: calc(30% - 1rem);
}
.contact__bloc address{
  margin-top: 0;
  font-size: 1.2rem;
}

}

/* Taille d'ecran minimal 992px */
@media screen and (min-width:#{$largeDevice * 1px}){
   /* Container centre navigation*/
   .navigation,
   .headerMiddle,
   .sectionClinique,
   .services,
   .equipe,
   .contact,
   .temoignages,
   .footer{
     width: 98rem;
     margin: auto;
   }
 
    /* Nom clinique */
  .logo h1{
    font-size: 1.8rem;
  }
 /* Equipe */
 .equipe__group{
  gap: 1rem;
 }
 .equipe__bloc{
  width: calc(25% - 1rem);
  margin-bottom: 0;
 }
 .galeries{
  height: 60rem;
 }
     /* Temoignages */
.temoignages__bloc{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.temoignages__bloc__group{
  width: calc(25% - 2rem);
  margin-top: 2rem;
}
}

/* Taille d'ecran minimal 1200px */
@media screen and (min-width:#{$XlargeDevice * 1px}){
 
  /* Container centre headeMiddle */
  .sectionCliniqueGroup{
    gap: 0.5rem;
  }
  .sectionCliniqueGroup__{
    width: calc(25% - 1rem);
  }
}
