@import 'partials/variables';
@import 'compass/css3';
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  background-color: #fbfbfb;
  line-height: 1.5;
}

/* Container global*/
.wrapper{
  width: 100%;
  overflow-x: hidden;
}
/* Container Header Global */

#nav{
  height: 6rem;
  border-bottom: 0.3rem solid $couleurbleuciel;
  background-color: $couleurtertiaire;
}
  /* Container centre navigation*/
.navigation{
  min-width: 30rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
}
/* Logo */
.logo{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo img{
  width: 4.5rem;
}
/* Nom clinique */
.logo h1{
  font-size: 1.4rem;
  color: #fff;
}
/* Menuburger */
.menuburger{
  width: 2.4rem;
  height: 1.8rem;
  overflow-x:hidden;
  position: relative; 
  margin-left: auto;
  cursor: pointer;
}
.menuburger-ligne{
  height: 0.2rem;
  position: absolute;
  left: 0;
  background: $couleurprimaire;
  transition: transform 0.3s ease-in;
}
.menuburger-ligne__1{
  width: 100%;
  top: 0;
}
.menuburger-ligne__2{
  width: 70%;
  top: 0.7rem;  
}
.menuburger-ligne__3{
  width: 100%;
  top: 1.4rem;  
}
/* menuburger [onOffMenuBurger]*/
.menuburger.onOffMenuburger .menuburger-ligne__2{
  transform: translateX(-2.4rem);
}
.menuburger.onOffMenuburger .menuburger-ligne__1{
  transform: rotate(-45deg);
  top: 0.7rem;
}
.menuburger.onOffMenuburger .menuburger-ligne__3{
  transform: rotate(-135deg);
  top: 0.7rem;
}
/* Menu */
.menu{
  width: 20rem;
  height: 50rem;
  padding-top: 4rem;
  padding-left: 0;
  position: absolute;
  top: 6rem;
  right: -20rem;
  transition:right 0.3s ease-in;
  background-color: $couleurtertiaire;
  list-style: none;
  font-size: 1.4rem;
}
.menu li{
  padding: 1.2rem 2rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease-in;
  border-bottom: 0.1rem solid #434343;
  text-align: right;
  cursor: pointer;
}
.menu a{
  text-decoration: none;
  color: $couleurwhite;
  transition: color 0.3s ease-in;
}
.menu a span + span{
  margin-left: 1rem;
}
/* Le menu li actif */
.menu li.active{
  background-color: $couleurbleuciel;
}
.menu li.active a{
  color: $couleurtertiaire;
}
/* Le menu li hover */
.menu li:hover{
  background-color: $couleurbleuciel;
}
.menu li:hover a{
  color: $couleurtertiaire;
}
/* Menu [Class : onOffMenuBurger ] */
.menu.onOffMenuburger{
  right: 0;
}
.headerMiddle{
  padding: 3rem 1rem;
  text-align: center;
}
.headerMiddle strong{
  display: block;
  margin-top: 3rem;
  font-size: 2.1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $couleurprimaire;
}
.headerMiddle h2{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 1rem 0 3rem 0;
  color: $couleursecondaire;
}
.headerMiddle p{
  line-height: 1.5;
}
/* Accroche */
.accroche{
  padding-top: 3rem;
}
.btn-accroche{
  display: block;
  width: 16rem;
  text-align: center;
  padding: 1rem;
  margin: 3rem auto;
  border: 0.1rem solid $couleurtertiaire;
  text-decoration: none;
  color: $couleurtertiaire;
}
#clinique{
  // background-color:#801cba;
  background-color: #590e85;
  padding: 3rem 1rem;
}
.sectionCliniqueGroup__{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
  margin:0 auto 2rem;
  color: $couleurwhite;
  border: 0.1rem solid rgba(255,255,255,0.2);
}
.sectionCliniqueGroup__ span{
  font-size: 5.2rem;
}
.sectionCliniqueGroup__ strong{
  font-size: 2.2rem;
}
.sectionCliniqueGroup__ p{
  text-align: center;
}
/* Equipe */

.equipe{
  padding: 6rem 1rem;
}
.equipe h3{
  font-size: 2.4rem;
  margin-bottom: 6rem;
  color: $couleurtertiaire;
}
.equipe__bloc{
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #fff;
  border: 0.1rem solid #eeeded;
  position: relative;
  overflow-y: hidden;
  cursor: pointer;
  margin-bottom: 2rem;
}
.equipe__bloc span:nth-child(1){
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color:#590e85;
  color: $couleurwhite;
  border-radius: 0.5rem;
}
.equipe__bloc .equipe__img{
  width: 10rem;
  margin-top: 2rem;
  padding: 0.2rem;
  border: 0.1rem solid #eeeded;
  border-radius: 50%;
}
.equipe__bloc img{
  width: 100%;
  border-radius: 50%;
}
.equipe__bloc strong{
  font-size: 1.8rem;
  color:#590e85;
  line-height: 1;
  font-weight: normal;
}
.equipe__bloc strong + span{
  font-size: 1.2rem;
  opacity: 0.5;
  line-height: 1;
}
.equipe__socialmedia p{
  font-size: 1.4rem;
  margin-top: 1rem;
  position: absolute;
  transform: translateY(4rem);
  height: 3rem;
  padding: 0.5rem;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  opacity: 0.75;
  transition: transform 0.3s ease-in;
}
.equipe__bloc.active .equipe__socialmedia p{
  transform: translateY(0);
}
.equipe__socialmedia p i{
  color: #590e85;
  cursor: pointer;
}
/* Fin Equipe */
#services{
  background-color: $couleurtertiaire;
}
.services{
  display: flex;
  flex-direction: column-reverse;
  padding: 3rem 1rem;
  color: $couleurwhite;
  min-width: 30rem;
}
.services__left__box__label{
   position: absolute;
transform: translateY(-10rem);
font-size: 1rem;
background: $couleurprimaire;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
 
}
.container__services.active .services__left__box__label{
transform: translateY(0);
 transition: transform 0.3s ease-in;
}
.services__left_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__top{
  display: flex;
  flex-direction: row;
  margin-top: -3rem;
}
.services__right{
  margin-top: 3rem;
}
.services__left__box{
  width: 10rem;
  height: 10rem;
  padding: 0.1rem;
  border: 0.1rem solid rgba(255,255,255,0.7);
  background: rgba(255,255,255,0.7);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.container__services{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $couleurtertiaire;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.container__services > span{
  color: rgba(255,255,255,0.7);
  font-size: 4.2rem;
}
.services__left_wrapper{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.services__bottom{
  padding: 3rem 0;
}
.services__bottom h3{
  font-size: 2.4rem;
  color: $couleurprimaire;
}
.services__bottom span{
  font-size: 1.4rem;
}
.services__bottom hr{
  display: none;
  border-bottom:0.2rem solid $couleurbleuciel;
  opacity: 1;
}

/* Taille d'ecran minimal 576px */
@media screen and(min-width:#{$smallDevice * 1px}) {
  .sectionCliniqueGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .sectionCliniqueGroup__{
    width: calc(50% - 1rem);
  }
  /* Equipe */
.equipe__group{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
 }
 .equipe__bloc{
  width: calc(50% - 1rem);
 }
  .services__left__box{
    width: 14rem;
    height: 14rem;
  }
  .services__left__box__label{
    transform: translateY(-14rem);
    }
    .container__top{
      margin-top: -4.2rem;
    }
}

/* Taille d'ecran minimal 768px */
@media screen and (min-width:#{$mediumDevice * 1px}){
/* Navigation */
.headerTop{
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
/*Clinique*/
.sectionClinique{
  padding: 3rem 2rem;
}

.navigation{
  padding-top: 0;
  padding-bottom: 0;
}

/* Menuburger*/
.menuburger{
  display: none;
}
/* Menu */
.menu{
  width: auto;
  height: 100%;
  display: flex;
  padding-top: 0;
  position: static;
  transition:none;
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 0;
  line-height: 3rem;
}
.menu li{
  margin-bottom: 0;
  margin-left: 0.2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-bottom: 0 none;
  text-align: center;
}
.menu li.active{
  background-color: $couleurbleuciel;
}
.menu li.active a {
  color: $couleurtertiaire;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(2):hover,
.menu li:nth-child(3):hover,
.menu li:nth-child(4):hover{
  background-color: $couleurbleuciel;
}
.menu li:nth-child(1):hover a,
.menu li:nth-child(2):hover a,
.menu li:nth-child(3):hover a,
.menu li:nth-child(4):hover a{
  color: $couleurtertiaire;
}
.menu a span + span{
  display: none;
  margin-left: 0;
}
.fa-regular.fa-circle-user{
  display: inline;
}
.fa-regular.fa-comments{
  display: inline;
}
.fa-regular.fa-envelope{
  display: inline;
}
.menuLinkHidden{
  display: none;
}
/* HeaderMiddle */
.headerMiddle{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  padding: 6rem 1rem 3rem 1rem;
    text-align: left;
}
.headerMiddle img{
  width: calc(50% - 1rem);
}
.accroche{
  width: calc(50% - 1rem);
}

.accroche{
  padding: 2rem 1rem; 
}
.accroche strong{
  font-size: 2.8rem;
}
.accroche h2{
  font-size: 2.4rem;
  margin-top: 1rem;
  font-weight: normal;
}
/* Bouton btn-accroche */
.btn-accroche{
  width: 16rem;
  margin-left: 0;
  margin-right: 0;
}
/* Equipe */
.equipe__group{
  gap: 3rem;
 }
 .equipe__bloc{
  width: calc(50% - 1.5rem);
  margin-bottom: 3rem;
 }
.services__top{
  display: flex;
  flex-direction: row-reverse;
}
.services{
  flex-direction: column;
}
.services__bottom{
  margin-top: -13.6rem;
}
.services__left{
  width: calc(70% - 1rem);
  padding-right: 5rem;
}
.services__bottom hr{
  display: block;
}
.container__services.active .services__left__box__label{
  font-size: 1.4rem;
}
}

/* Taille d'ecran minimal 992px */
@media screen and (min-width:#{$largeDevice * 1px}){
   /* Container centre navigation*/
   .navigation,
   .headerMiddle,
   .sectionClinique,
   .services,
   .equipe{
     width: 98rem;
     margin: auto;
   }
    /* Nom clinique */
  .logo h1{
    font-size: 1.8rem;
  }
 /* Equipe */
 .equipe__group{
  gap: 1rem;
 }
 .equipe__bloc{
  width: calc(25% - 1rem);
  margin-bottom: 0;
 }
}

/* Taille d'ecran minimal 1200px */
@media screen and (min-width:#{$XlargeDevice * 1px}){
 
  /* Container centre headeMiddle */
  .sectionCliniqueGroup{
    gap: 0.5rem;
  }
  .sectionCliniqueGroup__{
    width: calc(25% - 1rem);
  }
}
