/* line 5, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Les points de rupture [breakpoints]
* Ecran petit >= 576px [$smallDevice]
* Ecran moyen >= 768px [$mediumDevice]
* Ecran large >= 992px [$largeDevice]
* Ecran Extra large >= 1200px [$XlargeDevice]
* Ecran Extra extra large >= 1400px [$XXlargeDevice]
*/
/* Custom Reset */
/* line 7, ../sass/styledashbord.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/styledashbord.scss */
body {
  font-size: 1.6rem;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* line 15, ../sass/styledashbord.scss */
a {
  text-decoration: inherit;
  color: inherit;
}

/* line 19, ../sass/styledashbord.scss */
a:hover {
  color: inherit;
}

/* Header */
/* line 23, ../sass/styledashbord.scss */
.headerdashboard {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 6rem;
  min-width: 30rem;
  background-color: #ffffff;
  border-bottom: 0.3rem solid #C9DDF1;
}

/* line 32, ../sass/styledashbord.scss */
.headerdashboard.active {
  background-color: #230939;
  transition: all 0.3s ease-in;
}

/* line 36, ../sass/styledashbord.scss */
.headerdashboard.active .dashboard__logo h1 {
  color: #ffffff;
}

/* line 39, ../sass/styledashbord.scss */
.headerdashboard.active .dashboard__menu__top p {
  border-color: #ffffff;
  background-color: #ffffff;
}

/* line 43, ../sass/styledashbord.scss */
.headerdashboard.active .dashboard__menu__top span {
  color: #ffffff;
  font-weight: bold;
}

/* line 47, ../sass/styledashbord.scss */
.headerdashboard.active .dashboard__submenu span {
  color: #590e85;
  font-weight: bold;
}

/* dashboard container */
/* line 52, ../sass/styledashbord.scss */
.dashboard__container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: right 0.3s ease-in, overflow 0.3s 1s ease-in;
}

/* dashboard__logo */
/* line 63, ../sass/styledashbord.scss */
.dashboard__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Dashboard Titre */
/* line 69, ../sass/styledashbord.scss */
.dashboard__logo h1 {
  font-weight: bold;
  color: #590e85;
}

/* Formulaire de recherche */
/* line 74, ../sass/styledashbord.scss */
.dashboard__search {
  display: none;
}

/* Dashboard Menu Top */
/* line 78, ../sass/styledashbord.scss */
.dashboard__menu__top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  height: 100%;
}

/* dashboard__user */
/* line 86, ../sass/styledashbord.scss */
.dashboard__user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Dashboard Menu Avatar */
/* line 92, ../sass/styledashbord.scss */
.dashboard__menu__top p {
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  border: 0.2rem solid #590e85;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

/* line 100, ../sass/styledashbord.scss */
.dashboard__menu__top img {
  width: 100%;
  height: auto;
}

/* Dashboard Menu font-icon*/
/* line 106, ../sass/styledashbord.scss */
.dashboard__menu__top span {
  color: #590e85;
}

/* dashboard__submenu */
/* line 111, ../sass/styledashbord.scss */
.dashboard__link__submenu {
  cursor: pointer;
}

/* line 114, ../sass/styledashbord.scss */
.dashboard__submenu {
  width: 14rem;
  background-color: #ffffff;
  border: 0.1rem solid #c4c4c4;
  padding: 1rem 1rem;
  position: absolute;
  right: -14rem;
  top: 5.1rem;
  transition: right 0.3s ease-in;
}

/* line 125, ../sass/styledashbord.scss */
.dashboard__container.active__submenu {
  overflow: visible;
  transition: right 0.3s ease-in, overflow 0.3s 1s ease-in;
}

/* line 130, ../sass/styledashbord.scss */
.dashboard__container.active__submenu .dashboard__submenu {
  right: 0;
}

/* line 133, ../sass/styledashbord.scss */
.dashboard__submenu {
  font-size: 1.4rem;
}

/* line 136, ../sass/styledashbord.scss */
.dashboard__submenu li {
  padding: 0.75rem 0;
}

/* line 139, ../sass/styledashbord.scss */
.dashboard__submenu li span {
  margin-right: 0.75rem;
}
